<div class="row">
  <div class="col s5">
    <div class="card-panel teal">
      <span class="white-text">
        <h4>
          <%= @category.name %>
        </h4>
      </span>
    </div>
    <div class="card-panel teal">
      <span class="white-text">
        <h6>
          <%= @category.description %>
        </h6>
      </span>
    </div>
    <div class="card-panel">
      <div class="login">
        <%= link_to t("words.create_word"), new_admin_category_word_path(@category),
          class: "btn btn-lg btn-primary" %>
      </div>
    </div>
    <br/>
    <table class="table table-striped">
      <% @words.each do |word| %>
        <tr>
          <td>
            <p class="show-answer"><%= word.name %></p>
            <ul class="hidden_list_answer choose-success">
            <% word.answers.each do |answer| %>
              <li>
                <%= answer.content %> | <%= answer.is_correct %>
              </li>
            <% end %>
            </ul>
          </td>
          <td>
            <%= link_to t("words.edit"), edit_admin_category_word_path(@category, word),
              class: "btn btn-sm btn-info" %>
          </td>
          <td>
            <%= link_to t("index_pages.delete"), admin_category_word_path(@category, word),
              method: :delete, data: {confirm: t("index_pages.you_sure")},
              class: "btn btn-sm btn-danger" %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
